<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBe6qf7y37mhhX0j2p3WRboEoGyyGvwYTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>704459372046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.selaa</string>
	<key>PROJECT_ID</key>
	<string>selaa-93e88</string>
	<key>STORAGE_BUCKET</key>
	<string>selaa-93e88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704459372046:ios:7c067cb8540815348c6e5f</string>
</dict>
</plist>